langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
ipykernel
bs4
pypdf
chromadb
faiss-cpu
lancedb
duckduckgo-search
langchainhub
langchain-groq
beautifulsoup4
groq
sentence_transformers